{% extends 'core/hf.html' %}
{% load static %}
{% block contenido %}

<div id="carrusel">
    <div id="carrusel2">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'core/img/perro.jpg' %}"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'core/img/perro.jpg' %}"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'core/img/perro.jpg' %}"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div id="infoh">
    <h1>Nuestras marcas</h1>
    <div id="infomarcash">
        <div class="carta">
            <div class="carta1">
                <img src="https://previews.123rf.com/images/kostymo/kostymo1803/kostymo180300120/96900116-tema-de-icono-para-ilustraci%C3%B3n-de-comida-para-perros.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Example.</p>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="carta1">
                <img src="https://previews.123rf.com/images/kostymo/kostymo1803/kostymo180300120/96900116-tema-de-icono-para-ilustraci%C3%B3n-de-comida-para-perros.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Example.</p>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="carta1">
                <img src="https://previews.123rf.com/images/kostymo/kostymo1803/kostymo180300120/96900116-tema-de-icono-para-ilustraci%C3%B3n-de-comida-para-perros.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Example.</p>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="carta1">
                <img src="https://previews.123rf.com/images/kostymo/kostymo1803/kostymo180300120/96900116-tema-de-icono-para-ilustraci%C3%B3n-de-comida-para-perros.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Example.</p>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="carta1">
                <img src="https://previews.123rf.com/images/kostymo/kostymo1803/kostymo180300120/96900116-tema-de-icono-para-ilustraci%C3%B3n-de-comida-para-perros.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Example.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sobrenosotros">
    <h1>Sobre nosotros</h1>
    <div id="pnoso">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus exercitationem minima nihil, quo
            molestias magni! Quos quisquam, aliquid atque ipsam nesciunt fuga quo sapiente repudiandae cum
            cupiditate reiciendis, deserunt exercitationem minus eveniet in maxime. Consequatur at quasi illo
            quaerat eos quo mollitia ullam cupiditate maxime, odio sint, hic labore asperiores nemo architecto
            laboriosam. Explicabo quas tempore cumque, voluptatibus perspiciatis eius? Labore ea laudantium eaque
            magni nam ipsa praesentium voluptates fugiat? </p>
    </div>
</div>
<div id="Contacto">
    <div id="titulocontacto">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contactanos</h2>
        <p class="text-center w-responsive mx-auto mb-5">Si tienes alguna duda no dudes en preguntarnos
            cualquier
            inquietud que tengas.</p>
    </div>
    <div id="contactocontenido">
        <div id="formulario">
            <div id="linea1">
                <div id="nombre">
                    <label for="name" class="">Tu nombre</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
                <div id="email">
                    <label for="email" class="">Tu email</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
            </div>
            <div id="linea2">
                <div id="asunto">
                    <label for="subject" class="">Asunto</label>
                    <input type="text" id="subject" name="subject" class="form-control">
                </div>
                <div id="mensaje">
                    <label for="message">Tu mensaje</label>
                    <textarea type="text" id="message" name="message" rows="2"
                        class="form-control md-textarea"></textarea>
                </div>
            </div>
            <div id="boton">
                <button type="button" class="btn btn-dark">Enviar</button>
            </div>
        </div>
        <div id="infodirection">

            <p>
                <img src="{% static 'core/img/ubi.png' %}" alt="">
                Serrano 1105, Melipilla, Región Metropolitana
                <br>
                <img src="{% static 'core/img/phone.png' %}" alt="">
                +56912345678
                <br>
                <img src="{% static 'core/img/mail.png' %}" alt="">
                contacto@duoc.cl
            </p>

        </div>
        <div id="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.5693463867083!2d-71.21586008479433!3d-33.69421368070496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae610cb2f%3A0xc3fdb55ead51065b!2sDuoc%20UC%3A%20Sede%20Melipilla!5e0!3m2!1ses-419!2scl!4v1648695065082!5m2!1ses-419!2scl"
                width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>

{% endblock %}