{% extends 'core/hf.html' %}
{% load static %}
{% block contenido %}
<div id="titulao">
<H1>Productos</H1>
{% if posts %}
<div id="productoas">
    <div class="row">
    {% for productos in posts %}
        <div class="col-3">
            <div class="card" style="width: 16rem;">
                <img src="{% static 'core/img/logo.png' %}" class="card-img-top" alt="{{productos.nombre}}">
                <div class="card-body">
                  <h5 class="card-title">Nombre:{{productos.nombre}}</h5>
                  <p class="card-text">Categoría:{{productos.categoria}}</p>
                  <p class="card-text">Precio:  {{productos.precio}}</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
        </div>
    {% endfor %}
    </div>
</div>
{% else %}
{% endif %}
</div>






{% endblock %}